$dim: 250px;

& {
   width: 700px;
   background: #Fcfcfc;
   height: $dim + 590;
   position: fixed;
   top: 60px;
color: grey;

}


.tooltip {
    text-decoration: underline;
    color: grey;
    cursor: pointer;
}
.controls {
    position: absolute;
    bottom: 0px;
    width: 700px;
    margin-bottom: 0px;
    
    select {
        width: 692px;
        height: 50;
        color: grey;
        font-size: 28px;
        margin: 4px;
        padding: 5px;
    }
    .PlaybackControl button {
        cursor: pointer;
        width: 24.5%;
        color: grey;
        font-size: 45;
        height: 175px;
        margin: 1px
    }
}
svg {
   background: #FDfDfD;
   height: $dim;
   width: $dim;
    border-bottom: solid #EEE 1px;
   display: inline-block;
   .external {
      transform: translate($dim / 2, $dim / 2);
   }
   g.job {
       circle.back {
           stroke-width: 1;
           stroke: black;
       }
       circle.clockfill {
           fill: transparent;
           transform: rotate(-90deg);
       }
   }
}

.content {
   display: inline-block;
   vertical-align: top;
   .lesson {
      height: 250px;
      width: 450px;
      font-size: 17px;
      overflow: hidden;
      background: #Fcfcfc;
           border-bottom: solid #EEE 1px;
      position: relative;
      .message {
         padding: 30px;
      }
      .next {
         position: absolute;
         padding: 30px;
         bottom: 0px;
         width: 100%;
      }
   }
}


.attrContainer {

   font-size: 20px;
   width: 100%;

   .attr {
        width: 50%;
        display: inline-block;
        position: relative;
        height: 70px;
        border-bottom: solid #EEE 1px;        
        margin-top: -1px;
      &.selected {
          background: white;
      }
      .key {
         padding-left: 30px;
         padding-right: 30px;
         height: $dim / 3;
         margin: 5px;
        vertical-align: middle;
        
        line-height: 65px;
         &::after {
            content: ":"
         }
      }
      .value {
        height: 100%;
        width: 20%;
         background: rgba(0, 0, 0, 0.045);
        position: absolute;
        right: 0px;
        margin-left: 10px;
        text-align: center;
        vertical-align: middle;
        line-height: 65px;
      }
   }
}