$dim: 250px;

& {
   width: 100%;
   background: #1f77b4;
   top: 900px;
   height: $dim;
   position: absolute;
}

svg {
   background: lightblue;
   height: $dim;
   width: $dim;
   display: inline-block;
   .external {
      transform: translate($dim / 2, $dim / 2);
   }
   g.job {
       circle.back {
           stroke-width: 1;
           stroke: black;
       }
       circle.clockfill {
           fill: transparent;
           transform: rotate(-90deg);
       }
   }
}

.content {
   display: inline-block;
   vertical-align: top;
   .lesson {
      height: 100%;
      width: 700px;
      overflow: hidden;
      background: orange;
      position: relative;
      .message {
         padding: 30px;
         background: blue;
      }
      .next {
         position: absolute;
         padding: 30px;
         bottom: 0px;
         width: 100%;
         background: blue;
      }
   }
}

.attributes {
   display: inline-block;
   vertical-align: top;
   background: green;
   font-size: 20px;
   .attr {
      .key {
         padding: 20px;
         &::after {
            content: ":"
         }
      }
      .value {
         width: 60px;
         padding: 20px;
         background: rgba(250, 250, 250, 0.4);
      }
   }
}