
.menu * {
   color: #999 !important;
}

.menu.selected * {
   color: white !important;
}

.bootstrap.btn-group {
   position: fixed !important;

}

.dropdown-menu {
    z-index: 1;
}
.header {
    z-index: 0;
}

