$border: 3px;
.container {
    display: block;
    position: relative;
    left: 20%;
}
.controls {
    position: relative;
    left: 10%;
    width: 600px;
    margin-bottom: 275px;
    select {
        width: 400;
        height: 50;
        font-size: 30;
    }
    .PlaybackControl button {
        cursor: pointer;
        border-radius: 300px;
        width: 120px;
        height: 120px;
    }
}
svg {
   margin-top: 110px;
   border: solid 1px black;
   position: relative;
   border: 0px solid black;
   g.queueGroup {
       rect.queue {
          stroke-width: $border;
          stroke: black;
       }
       text.label {
           font-size: 60px;
           font-weight: bolder;
           stroke: black;
           stroke-width: 2px;
           fill: white;
       }
   }
   rect.requeue {
       fill: #444;
   }
   .cpu {
       text {
           font-size: 25px;
       }
       .slot {
          fill: #EFEFEF;
       }
   }
   .io {
       .box {
          fill: #555;;
          stroke-width: $border;
          stroke: black;
       }
       text {
           font-size: 50px;
       }
   }
   g.boostTime {
       .clock {
           fill: transparent;
           transform: rotate(-90deg);
           stroke: rgb(255, 139, 15);
       }
       .frame {
           stroke-width: 4px;
           fill: transparent;
           stroke: black;
       }
   }
   g.job {
       &:not(.legend):not(.external) {
           cursor: pointer;
       }
       text {
           fill: black;
           transform: translateY(50px)
       }
       circle.back {
           stroke-width: 1;
           stroke: black;
       }
       circle.clockfill {
           fill: transparent;
           transform: rotate(-90deg);
       }
       &[data-selected="true"] circle.border {
           transform: scale(1.3, 1.3);
       }
       &.evil circle.back {
           fill: rgb(234, 43, 44);
       }
   }
}