$border: 3px;
.container {
    display: block;
    position: relative;
    left: 20%;
}
.controls {
    position: relative;
    left: 10%;
    width: 600px;
    select {
        width: 400;
        height: 50;
        font-size: 30;
    }
    .PlaybackControl button {
        cursor: pointer;
        border-radius: 300px;
        width: 120px;
        height: 120px;
    }
}
svg {
   border: solid 1px black;
   position: relative;
   border: 0px solid black;
   rect.queue {
       fill: white;
       stroke-width: $border;
       stroke: black;
   }
   rect.requeue {
       fill: #444;
   }
   .cpu {
       text {
           font-size: 50px;
       }
       .slot {
          fill: #EFEFEF;
       }
   }
   .io {
       .box {
          fill: #555;;
          stroke-width: $border;
          stroke: black;
       }
       text {
           font-size: 50px;
       }
   }
   g.job {
       cursor: pointer;
       circle.back {
           stroke-width: 1;
           stroke: black;
       }
       circle.clockfill {
           fill: white;
           transform: rotate(-90deg);
       }
       &[data-selected="true"] circle.border {
           transform: scale(1.3, 1.3);
       }
   }
}