$border: 1px;
.container {
    display: inline-block;
    margin-left: 700px;
}
svg {
   border: solid 1px grey;
   transform: scale(0.75) translate(-12.5%,-12.5%);
   position: relative;
   border: 0px solid grey;
   g.queueGroup {
       rect.queue {
          stroke-width: $border;
          stroke: grey;
       }
       text.label {
           font-size: 40px;
           fill: grey;
       }
   }
   rect.requeue {
       fill: #CCC;
   }
   .cpu {
       text {
           font-size: 55px;
           fill: grey;
       }
       .slot {
          fill: #EFEFEF;
       }
   }
   .io {
       .box {
          stroke-width: $border;
          stroke: grey;
       }
       .segment {
          stroke-width: 1px;
          stroke: grey;
       }
       text {
           font-size: 55px;
           fill: grey;
       }
   }
   g.ioText {
       text {
           font-size: 20px;
           fill: grey;
       }
   }
   g.boostTime {
       .clock {
           fill: transparent;
           transform: rotate(-90deg);
           stroke: rgb(255, 139, 15);
       }
       .frame {
           stroke-width: $border;
           fill: transparent;
           stroke: grey;
       }
        text {
            font-size: 25px;
            font-weight: bold;
            fill: grey;
        }
   }
   g.job {
       &:not(.legend):not(.external) {
           cursor: pointer;
       }
       text {
           fill: grey;
           font-size: 20px;
           font-weight: bold;
           transform: translateY(50px)
       }
       circle.back {
           stroke-width: 1;
           stroke: black;
       }
       circle.clockfill {
           fill: transparent;
           transform: rotate(-90deg);
       }
       &[data-selected="true"] circle.border {
           transform: scale(1.3, 1.3);
       }
       &.evil circle.back {
           fill: rgb(234, 43, 44);
       }
   }
}