$border: 3px;

svg {
   border: solid 1px black;
   position: absolute;
   left: 20%;
   rect.frame {
       fill: transparent;
       stroke-width: $border;
       stroke: black;
   }
  
   circle.job {
       cursor: pointer;
       stroke-width: 1;
       fill: black;
       &[data-selected="true"] {
           stroke-width: 8px;
       }
   }
}