body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    overflow-x: hidden;
    overflow-y: hidden;
}

#bg-nested-dropdown {
    margin-left: 7px;
}

.dg.main.a {
    margin-right: 200px !important;
}
